In [1]:
import pandas as pd

In [42]:
rating = pd.read_csv('Amazon - Movies and TV Ratings.csv')

In [43]:
rating.head()

,user_id,Movie1,Movie2,Movie3,Movie4,Movie5,Movie6,Movie7,Movie8,Movie9,...,Movie197,Movie198,Movie199,Movie200,Movie201,Movie202,Movie203,Movie204,Movie205,Movie206
0,A3R5OBKS7OM2IR,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AH3QC2PC1VTGP,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A3LKP6WPMP9UKX,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AVIY68KEPQ5ZD,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A1CV1WROP5KTTW,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
rating.set_index('user_id', inplace=True)

In [45]:
#Handling of missing data 
missing_column = rating.isnull()

for missing in missing_column.columns.values.tolist():
    print(missing)
    print(missing_column[missing].value_counts())

Movie1
True     4847
False       1
Name: Movie1, dtype: int64
Movie2
True     4847
False       1
Name: Movie2, dtype: int64
Movie3
True     4847
False       1
Name: Movie3, dtype: int64
Movie4
True     4846
False       2
Name: Movie4, dtype: int64
Movie5
True     4819
False      29
Name: Movie5, dtype: int64
Movie6
True     4847
False       1
Name: Movie6, dtype: int64
Movie7
True     4847
False       1
Name: Movie7, dtype: int64
Movie8
True     4847
False       1
Name: Movie8, dtype: int64
Movie9
True     4847
False       1
Name: Movie9, dtype: int64
Movie10
True     4847
False       1
Name: Movie10, dtype: int64
Movie11
True     4846
False       2
Name: Movie11, dtype: int64
Movie12
True     4843
False       5
Name: Movie12, dtype: int64
Movie13
True     4847
False       1
Name: Movie13, dtype: int64
Movie14
True     4847
False       1
Name: Movie14, dtype: int64
Movie15
True     4847
False       1
Name: Movie15, dtype: int64
Movie16
True     4528
False     320
Name: Movie16, dtype: int64
Movie17
True     4847
False       1
Name: Movie17, dtype: int64
Movie18
True     4847
False       1
Name: Movie18, dtype: int64
Movie19
True     4846
False       2
Name: Movie19, dtype: int64
Movie20
True     4847
False       1
Name: Movie20, dtype: int64
Movie21
True     4847
False       1
Name: Movie21, dtype: int64
Movie22
True     4846
False       2
Name: Movie22, dtype: int64
Movie23
True     4845
False       3
Name: Movie23, dtype: int64
Movie24
True     4843
False       5
Name: Movie24, dtype: int64
Movie25
True     4847
False       1
Name: Movie25, dtype: int64
Movie26
True     4845
False       3
Name: Movie26, dtype: int64
Movie27
True     4847
False       1
Name: Movie27, dtype: int64
Movie28
True     4845
False       3
Name: Movie28, dtype: int64
Movie29
True     4605
False     243
Name: Movie29, dtype: int64
Movie30
True     4846
False       2
Name: Movie30, dtype: int64
Movie31
True     4846
False       2
Name: Movie31, dtype: int64
Movie32
True     4846
False       2
Name: Movie32, dtype: int64
Movie33
True     4847
False       1
Name: Movie33, dtype: int64
Movie34
True     4847
False       1
Name: Movie34, dtype: int64
Movie35
True     4847
False       1
Name: Movie35, dtype: int64
Movie36
True     4847
False       1
Name: Movie36, dtype: int64
Movie37
True     4847
False       1
Name: Movie37, dtype: int64
Movie38
True     4847
False       1
Name: Movie38, dtype: int64
Movie39
True     4844
False       4
Name: Movie39, dtype: int64
Movie40
True     4845
False       3
Name: Movie40, dtype: int64
Movie41
True     4847
False       1
Name: Movie41, dtype: int64
Movie42
True     4847
False       1
Name: Movie42, dtype: int64
Movie43
True     4841
False       7
Name: Movie43, dtype: int64
Movie44
True     4846
False       2
Name: Movie44, dtype: int64
Movie45
True     4847
False       1
Name: Movie45, dtype: int64
Movie46
True     4847
False       1
Name: Movie46, dtype: int64
Movie47
True     4847
False       1
Name: Movie47, dtype: int64
Movie48
True     4847
False       1
Name: Movie48, dtype: int64
Movie49
True     4847
False       1
Name: Movie49, dtype: int64
Movie50
True     4847
False       1
Name: Movie50, dtype: int64
Movie51
True     4846
False       2
Name: Movie51, dtype: int64
Movie52
True     4831
False      17
Name: Movie52, dtype: int64
Movie53
True     4845
False       3
Name: Movie53, dtype: int64
Movie54
True     4847
False       1
Name: Movie54, dtype: int64
Movie55
True     4847
False       1
Name: Movie55, dtype: int64
Movie56
True     4847
False       1
Name: Movie56, dtype: int64
Movie57
True     4847
False       1
Name: Movie57, dtype: int64
Movie58
True     4847
False       1
Name: Movie58, dtype: int64
Movie59
True     4847
False       1
Name: Movie59, dtype: int64
Movie60
True     4847
False       1
Name: Movie60, dtype: int64
Movie61
True     4847
False       1
Name: Movie61, dtype: int64
Movie62
True     4844
False       4
Name: Movie62, dtype: int64
Movie63
True     4847
False       1
Name: Movie63, dtype: int64
Movie64
True     4847
False       1
Name: Movie64, dtype: int64
Movie65
True     4847
False       1
Name: Movie65, dtype: int64
Movie66
True     4847
False       1
Name: Movie66, dtype: int64
Movie67
True     4847
False       1
Name: Movie67, dtype: int64
Movie68
True     4847
False       1
Name: Movie68, dtype: int64
Movie69
True     4847
False       1
Name: Movie69, dtype: int64
Movie70
True     4846
False       2
Name: Movie70, dtype: int64
Movie71
True     4847
False       1
Name: Movie71, dtype: int64
Movie72
True     4847
False       1
Name: Movie72, dtype: int64
Movie73
True     4847
False       1
Name: Movie73, dtype: int64
Movie74
True     4847
False       1
Name: Movie74, dtype: int64
Movie75
True     4847
False       1
Name: Movie75, dtype: int64
Movie76
True     4846
False       2
Name: Movie76, dtype: int64
Movie77
True     4847
False       1
Name: Movie77, dtype: int64
Movie78
True     4847
False       1
Name: Movie78, dtype: int64
Movie79
True     4846
False       2
Name: Movie79, dtype: int64
Movie80
True     4847
False       1
Name: Movie80, dtype: int64
Movie81
True     4836
False      12
Name: Movie81, dtype: int64
Movie82
True     4846
False       2
Name: Movie82, dtype: int64
Movie83
True     4847
False       1
Name: Movie83, dtype: int64
Movie84
True     4847
False       1
Name: Movie84, dtype: int64
Movie85
True     4845
False       3
Name: Movie85, dtype: int64
Movie86
True     4827
False      21
Name: Movie86, dtype: int64
Movie87
True     4847
False       1
Name: Movie87, dtype: int64
Movie88
True     4847
False       1
Name: Movie88, dtype: int64
Movie89
True     4765
False      83
Name: Movie89, dtype: int64
Movie90
True     4830
False      18
Name: Movie90, dtype: int64
Movie91
True     4720
False     128
Name: Movie91, dtype: int64
Movie92
True     4747
False     101
Name: Movie92, dtype: int64
Movie93
True     4846
False       2
Name: Movie93, dtype: int64
Movie94
True     4845
False       3
Name: Movie94, dtype: int64
Movie95
True     4842
False       6
Name: Movie95, dtype: int64
Movie96
True     4845
False       3
Name: Movie96, dtype: int64
Movie97
True     4843
False       5
Name: Movie97, dtype: int64
Movie98
True     4847
False       1
Name: Movie98, dtype: int64
Movie99
True     4846
False       2
Name: Movie99, dtype: int64
Movie100
True     4847
False       1
Name: Movie100, dtype: int64
Movie101
True     4843
False       5
Name: Movie101, dtype: int64
Movie102
True     4846
False       2
Name: Movie102, dtype: int64
Movie103
True     4576
False     272
Name: Movie103, dtype: int64
Movie104
True     4844
False       4
Name: Movie104, dtype: int64
Movie105
True     4845
False       3
Name: Movie105, dtype: int64
Movie106
True     4847
False       1
Name: Movie106, dtype: int64
Movie107
True     4809
False      39
Name: Movie107, dtype: int64
Movie108
True     4794
False      54
Name: Movie108, dtype: int64
Movie109
True     4835
False      13
Name: Movie109, dtype: int64
Movie110
True     4840
False       8
Name: Movie110, dtype: int64
Movie111
True     4809
False      39
Name: Movie111, dtype: int64
Movie112
True     4846
False       2
Name: Movie112, dtype: int64
Movie113
True     4844
False       4
Name: Movie113, dtype: int64
Movie114
True     4841
False       7
Name: Movie114, dtype: int64
Movie115
True     4847
False       1
Name: Movie115, dtype: int64
Movie116
True     4847
False       1
Name: Movie116, dtype: int64
Movie117
True     4837
False      11
Name: Movie117, dtype: int64
Movie118
True     4843
False       5
Name: Movie118, dtype: int64
Movie119
True     4840
False       8
Name: Movie119, dtype: int64
Movie120
True     4845
False       3
Name: Movie120, dtype: int64
Movie121
True     4844
False       4
Name: Movie121, dtype: int64
Movie122
True     4844
False       4
Name: Movie122, dtype: int64
Movie123
True     4847
False       1
Name: Movie123, dtype: int64
Movie124
True     4844
False       4
Name: Movie124, dtype: int64
Movie125
True     4843
False       5
Name: Movie125, dtype: int64
Movie126
True     4846
False       2
Name: Movie126, dtype: int64
Movie127
True     2535
False    2313
Name: Movie127, dtype: int64
Movie128
True     4845
False       3
Name: Movie128, dtype: int64
Movie129
True     4845
False       3
Name: Movie129, dtype: int64
Movie130
True     4844
False       4
Name: Movie130, dtype: int64
Movie131
True     4844
False       4
Name: Movie131, dtype: int64
Movie132
True     4845
False       3
Name: Movie132, dtype: int64
Movie133
True     4847
False       1
Name: Movie133, dtype: int64
Movie134
True     4842
False       6
Name: Movie134, dtype: int64
Movie135
True     4847
False       1
Name: Movie135, dtype: int64
Movie136
True     4846
False       2
Name: Movie136, dtype: int64
Movie137
True     4845
False       3
Name: Movie137, dtype: int64
Movie138
True     4835
False      13
Name: Movie138, dtype: int64
Movie139
True     4844
False       4
Name: Movie139, dtype: int64
Movie140
True     4270
False     578
Name: Movie140, dtype: int64
Movie141
True     4841
False       7
Name: Movie141, dtype: int64
Movie142
True     4847
False       1
Name: Movie142, dtype: int64
Movie143
True     4847
False       1
Name: Movie143, dtype: int64
Movie144
True     4847
False       1
Name: Movie144, dtype: int64
Movie145
True     4847
False       1
Name: Movie145, dtype: int64
Movie146
True     4847
False       1
Name: Movie146, dtype: int64
Movie147
True     4847
False       1
Name: Movie147, dtype: int64
Movie148
True     4846
False       2
Name: Movie148, dtype: int64
Movie149
True     4847
False       1
Name: Movie149, dtype: int64
Movie150
True     4845
False       3
Name: Movie150, dtype: int64
Movie151
True     4846
False       2
Name: Movie151, dtype: int64
Movie152
True     4847
False       1
Name: Movie152, dtype: int64
Movie153
True     4847
False       1
Name: Movie153, dtype: int64
Movie154
True     4847
False       1
Name: Movie154, dtype: int64
Movie155
True     4846
False       2
Name: Movie155, dtype: int64
Movie156
True     4847
False       1
Name: Movie156, dtype: int64
Movie157
True     4844
False       4
Name: Movie157, dtype: int64
Movie158
True     4782
False      66
Name: Movie158, dtype: int64
Movie159
True     4846
False       2
Name: Movie159, dtype: int64
Movie160
True     4842
False       6
Name: Movie160, dtype: int64
Movie161
True     4823
False      25
Name: Movie161, dtype: int64
Movie162
True     4833
False      15
Name: Movie162, dtype: int64
Movie163
True     4835
False      13
Name: Movie163, dtype: int64
Movie164
True     4844
False       4
Name: Movie164, dtype: int64
Movie165
True     4847
False       1
Name: Movie165, dtype: int64
Movie166
True     4846
False       2
Name: Movie166, dtype: int64
Movie167
True     4844
False       4
Name: Movie167, dtype: int64
Movie168
True     4844
False       4
Name: Movie168, dtype: int64
Movie169
True     4844
False       4
Name: Movie169, dtype: int64
Movie170
True     4845
False       3
Name: Movie170, dtype: int64
Movie171
True     4847
False       1
Name: Movie171, dtype: int64
Movie172
True     4846
False       2
Name: Movie172, dtype: int64
Movie173
True     4833
False      15
Name: Movie173, dtype: int64
Movie174
True     4844
False       4
Name: Movie174, dtype: int64
Movie175
True     4847
False       1
Name: Movie175, dtype: int64
Movie176
True     4847
False       1
Name: Movie176, dtype: int64
Movie177
True     4847
False       1
Name: Movie177, dtype: int64
Movie178
True     4847
False       1
Name: Movie178, dtype: int64
Movie179
True     4841
False       7
Name: Movie179, dtype: int64
Movie180
True     4847
False       1
Name: Movie180, dtype: int64
Movie181
True     4846
False       2
Name: Movie181, dtype: int64
Movie182
True     4818
False      30
Name: Movie182, dtype: int64
Movie183
True     4847
False       1
Name: Movie183, dtype: int64
Movie184
True     4831
False      17
Name: Movie184, dtype: int64
Movie185
True     4824
False      24
Name: Movie185, dtype: int64
Movie186
True     4839
False       9
Name: Movie186, dtype: int64
Movie187
True     4847
False       1
Name: Movie187, dtype: int64
Movie188
True     4842
False       6
Name: Movie188, dtype: int64
Movie189
True     4843
False       5
Name: Movie189, dtype: int64
Movie190
True     4841
False       7
Name: Movie190, dtype: int64
Movie191
True     4842
False       6
Name: Movie191, dtype: int64
Movie192
True     4838
False      10
Name: Movie192, dtype: int64
Movie193
True     4841
False       7
Name: Movie193, dtype: int64
Movie194
True     4841
False       7
Name: Movie194, dtype: int64
Movie195
True     4847
False       1
Name: Movie195, dtype: int64
Movie196
True     4839
False       9
Name: Movie196, dtype: int64
Movie197
True     4843
False       5
Name: Movie197, dtype: int64
Movie198
True     4846
False       2
Name: Movie198, dtype: int64
Movie199
True     4847
False       1
Name: Movie199, dtype: int64
Movie200
True     4840
False       8
Name: Movie200, dtype: int64
Movie201
True     4845
False       3
Name: Movie201, dtype: int64
Movie202
True     4842
False       6
Name: Movie202, dtype: int64
Movie203
True     4847
False       1
Name: Movie203, dtype: int64
Movie204
True     4840
False       8
Name: Movie204, dtype: int64
Movie205
True     4813
False      35
Name: Movie205, dtype: int64
Movie206

True     4835
False      13
Name: Movie206, dtype: int64

### Which movies have maximum views/ratings?

In [46]:
max_ratting = {}
for movies in rating.columns.values.tolist():
    max_ratting[movies] = rating[rating[movies] == rating[movies].max()][movies].count()
    
print(max(max_ratting.items(), key=lambda k: k[1]))

('Movie127', 1512)

### What is the average rating for each movie? Define the top 5 movies with the maximum ratings.

In [52]:
columns = ['Mean', 'Review Count']
data = []
index = []
for movies in rating.columns.values.tolist():
    data.append([rating[movies].mean(), rating[rating[movies] >= rating[movies].mean()][movies].count()])
    index.append(movies)

avg_rating = pd.DataFrame(data, index=index, columns=columns)

In [54]:
avg_rating.head()

            Mean  Review Count
Movie1  5.000000             1
Movie2  5.000000             1
Movie3  2.000000             1
Movie4  5.000000             2
Movie5  4.103448            20

In [74]:
data = avg_rating[avg_rating['Mean'] >= 4]
print(data.sort_values(by=['Review Count'], ascending=False).head())

              Mean  Review Count
Movie127  4.111976          1512
Movie140  4.833910           523
Movie103  4.562500           215
Movie29   4.806584           215
Movie16   4.518750           213

### Define the top 5 movies with the least audience.

In [76]:
print(data.sort_values(by=['Review Count']).head())

          Mean  Review Count
Movie1     5.0             1
Movie106   5.0             1
Movie102   4.0             1
Movie100   4.0             1
Movie99    4.0             1

### Recommender system is pending